{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "syntax-flow",
    /*["flow-runtime", {
      "assert": true,
      "decorate": false
    }],*/
    "transform-flow-strip-types",
		"transform-runtime",
    "add-module-exports",
    "transform-es2015-modules-umd"
	]
}
