{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "syntax-flow",
    /*
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }],
    */
    "transform-decorators-legacy",
    "transform-runtime",
    "add-module-exports",
    "transform-flow-strip-types"
  ]
}
