{
  "extends": "bliss",
  "rules": {
    "consistent-return": 0,
    "prettier/prettier": 0,
    "fp/no-mutation": 0,
    "fp/no-throw": 0,
    "import/no-extraneous-dependencies": 0,
    "no-let": 0,
    "no-plusplus": 0,
    "no-console": 0,
    "flowtype-errors/show-errors": 0
  }
}
